# SPDX-FileCopyrightText: 2022 Cosylab d.d. https://www.cosylab.com
#
# SPDX-License-Identifier: MIT-0

O.*/
.ccls-cache
.cache
.reuse
compile_commands.json
envPaths
bin/
dbd/
db/
lib/
include/
docs/build/*
docs/doxygen/*
