/*
 * SPDX-FileCopyrightText: 2022 Cosylab d.d.
 *
 * SPDX-License-Identifier: MIT-0
 */

.wy-nav-side {
    background: #371D4F
}

.wy-menu-vertical p.caption {
    color: #FFFFFF
}

.wy-side-nav-search input[type="text"] {
    border-color: #371D4F;
}
